 body{
      background:#f7f7f7;
      font-family: Arial, sans-serif;
      color:#222;
    }

    .cart-title{
      text-align:center;
      font-size:60px;
      font-weight:300;
      margin:50px 0;
    }

    .cart-header{
      font-size:12px;
      color:#888;
      font-weight:600;
      text-transform:uppercase;
      border-bottom:1px solid #ddd;
      padding-bottom:15px;
      margin-bottom:20px;
    }

    .cart-item{
      background:#fff;
      padding:20px 0;
      border-bottom:1px solid #e5e5e5;
      align-items:center;
    }

    .product-img{
      width: 150px;
      height:150px;
      object-fit:contain;
      padding:10px;
    }

    .product-name{
      font-size:20px;
      font-weight:500;
    }

    .product-color{
      font-size:14px;
      color:#888;
    }

    .qty-box{
      display:flex;
      align-items:center;
      justify-content:center;
      gap:15px;
      background:#f2f2f2;
      border-radius:30px;
      width:110px;
      padding:8px 15px;
    }

    .qty-btn{
      border:none;
      background:none;
      font-size:18px;
      color:#555;
    }

    .remove-btn{
      width:35px;
      height:35px;
      border-radius:50%;
      border:none;
      background:#f0f0f0;
      color:#666;
    }

    .summary-box{
      background:#efefef;
      padding:0;
    }

    .summary-header{
      padding:25px;
      font-size:30px;
      border-bottom:1px solid #ddd;
    }

    .summary-body{
      padding:25px;
    }

    .summary-row{
      display:flex;
      justify-content:space-between;
      margin-bottom:15px;
      font-size:18px;
    }

    .coupon{
      color:#57a857;
      font-size:16px;
      text-decoration:none;
    }

    .total-box{
      background:#e4e4e4;
      padding:25px;
      display:flex;
      justify-content:space-between;
      font-size:30px;
      font-weight:500;
    }

    .checkout-btn{
      width:100%;
      background:#58a84f;
      color:#fff;
      border:none;
      padding:18px;
      font-size:18px;
      letter-spacing:1px;
      margin-top:10px;
    }

    .checkout-btn:hover{
      background:#468d40;
    }


      /* ---------------- SUBSCRIBE ---------------- */

    .subscribe-section{
      text-align:center;
      padding-top:140px;
    }

    .big-text{
      font-family:'Cormorant Garamond', serif;
      font-size:140px;
      color:#dddddd;
      text-transform:uppercase;
      margin-bottom:70px;
    }

    .subscribe-box{
      max-width:620px;
      margin:auto;
      display:flex;
    }

    .subscribe-box input{
      flex:1;
      padding:18px 20px;
      border:1px solid #555;
      outline:none;
      background:transparent;
      font-size:16px;
    }

    .subscribe-box button{
      width:170px;
      border:none;
      background:#1d2329;
      color:#fff;
      font-size:14px;
      letter-spacing:2px;
      text-transform:uppercase;
    }

.footer{
      background:#000;
      color:#fff;
      padding-top:120px;
    }

    .footer-logo{
      font-family:'Cormorant Garamond', serif;
      font-size:70px;
      font-style:italic;
      color:#fff;
    }

    .footer-links{
      font-family: sans-serif;
      list-style:none;
      padding:0;
    }

    .footer-links li{
      margin-bottom:14px;
    }

    .footer-links a{
        font-family: sans-serif;
      color:#fff;
      text-decoration:none;
      text-transform:uppercase;
      letter-spacing:1px;
      font-size:13px;
      transition:0.3s;
    }

    .footer-links a:hover{
      color:#c7c7c7;
    }

    .contact-text{
    font-family: sans-serif;
      font-size:13px;
      line-height:1.8;
    }

    .contact-text a{
      color:#fff;
    }

    .phone{
        font-family: sans-serif;
      font-size:13px;
      font-weight:600;
      margin-top:10px;
    }

    /* ================= COPYRIGHT ================= */

    .copyright{
      font-family: sans-serif;
      border-top:1px solid #2b2b2b;
      margin-top:100px;
      padding:25px 0;
      text-align:center;
      font-size:13px;
    }

    .copyright a{
      color:#fff;
    }