{% load static %}
{% block content %}


<link rel="stylesheet" href="{ %static 'css/index2.css'% }">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  body {
    margin: 0;
    font-family: "bodoni moda";
  }


  .navbar-custom {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #111111;
  }

  .logo {
    font-size: 28px;
    font-weight: 600;
  }

  .nav-center a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
  }

.icons a {
    color: white;
    margin-left: 15px;
    font-size: 14px;
    text-decoration: none;
  }

  .hero-content {
    height: 100%;
  }

  .hero h1 {
    font-size: 150px;
    font-weight: lighter;
    letter-spacing: 3px;
    padding-left: 230px;


  }



</style>
</head>

<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-custom px-4">
    <div class="container-fluid">


      <div class="logo text-white">Naveena</div>
      <div class="mx-auto d-none d-lg-flex nav-center">
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <a href="{% url 'product' %}">PRODUCT</a>

        <div class="dropdown">
        <a href="#"
           class="dropdown-toggle"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            CATEGORY
        </a>

        <ul class="dropdown-menu" style="background-color: black;">

            <li>
                <a class="dropdown-item"
                   href="{% url 'category' 'Babydoll Nightwear' %}">
                    Babydoll Nightwear
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="{% url 'category' 'Casual Wear' %}">
                    Casual Wear
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="{% url 'category' 'Party Wear' %}">
                    Party Wear
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="{% url 'category' 'Traditional Wear' %}">
                    Formal Wear
                </a>
            </li>

             <li>
                <a class="dropdown-item"
                   href="{% url 'category' 'Western Wear' %}">
                    Formal Wear
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'category' 'Modern' %}">
                   Modern
                </a>
            </li>
        </ul>
    </div>
        </div>

       

      </div>

      <div class="icons" >
        <a href="{% url 'login' %}">LOGIN</a>
        <a href="{% url 'signup' %}">SIGN UP</a>
        <a href="#">SEARCH</a>
        <a href="{% url 'wishlist' %}">LIKE(0)</a>
        <a href="{% url 'cart_add' %}"> CART (0)</a>

      </div>
  </nav>

  
<div class="container py-5">
<br><br><br>


    <div class="row g-4">


        {% for product in products %}
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-sm h-100 position-relative">


                <!-- Sale Badge -->
                {% if product.is_sale %}
                <div class="badge bg-danger position-absolute" style="top:10px; right:10px;">
                    SALE
                </div>
                {% endif %}


                <!-- Product Image -->
                <img src="{{ product.image.url }}" class="card-img-top" style="height:400px;">


                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>


                    {% if product.is_sale %}
                        <p class="card-text fw-bold text-danger">
                            <strike>${{ product.price }}</strike>
                            &nbsp; ${{ product.sale_price }}
                        </p>
                    {% else %}
                        <p class="card-text fw-bold">${{ product.price }}</p>
                    {% endif %}
                </div>


                <div class="card-footer text-center bg-white border-0 pb-3">
                    <a href="{% url 'productsdet' product.id %}" class="btn btn-dark btn-sm">View Product</a>
                </div>


            </div>
        </div>
        {% endfor %}


    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</div>


{% endblock %}